[Desktop Entry]
Encoding=UTF-8
Name=Proton Lumo.ai
Comment=Proton Lumo.ai AI Desktop
Type=Application
Exec=lumo.ai --tray
Icon=${SNAP}/unpacked/resources/app/assets/img/icon.png
Categories=Accessories;
Keywords=AI;Copilot;GPT;ChatGPT;Gemini;DuckAI;LumoAI;Proton;
